* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  margin: 25px 15px;
}

.card-container {
  border: 2px solid black;
  border-radius: 5px;
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card-container input {
  margin-bottom: 10px;
}
